AddType application/x-httpd-lsphp .html
SetEnvIf Request_URI ".*" UnlimitedWpLogin
SetEnvIf Request_URI ".*" AllowForeignWpLogin

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]


RewriteCond %{REQUEST_URI} ^.*/index.(html|php)
RewriteRule ^(.*)index.(html|php)$ https://tomonishintaku.com/$1 [R=301,L]

