SetEnvIf Request_URI ".*" UnlimitedWpLogin
SetEnvIf Request_URI ".*" AllowForeignWpLogin
ErrorDocument 404 /404.html

AddHandler fcgid-script .html

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

RewriteCond %{REQUEST_URI} ^.*/index.(html|php)
RewriteRule ^(.*)index.(html|php)$ http://tomonishintaku.com/$1 [R=301,L]

RewriteBase /
RewriteRule ^works/exhibition/(.*)$ http://tomonishintaku.com/exhibition/$1 [R=301,L]
RewriteRule ^en/works/exhibition/(.*)$ http://tomonishintaku.com/en/exhibition/$1 [R=301,L]
RewriteRule ^images/works/mndtabeyo/(.*)$ http://tomonishintaku.com/images/works/lets-eat-everyone/$1 [R=301,L]
RewriteRule ^images/works/exhibition/(.*)$ http://tomonishintaku.com/images/exhibition/$1 [R=301,L]
Redirect permanent /en/works/hidden-flag.html http://tomonishintaku.com/en/works/double-flag.html
Redirect permanent /works/hidden-flag.html http://tomonishintaku.com/works/double-flag.html
Redirect permanent /en/exhibition/2016-conveni-bento-yama-time-is-money.html http://tomonishintaku.com/en/exhibition/161126_conveni-bento2.html
Redirect permanent /en/portfolio/171025_shintaku_tomoni_en.pdf http://tomonishintaku.com/en/portfolio/180321_shintaku_tomoni_en.pdf
Redirect permanent /images/common/white.jpg http://tomonishintaku.com/images/common/white.gif
AddType image/svg+xml .svg .svgz

# Fix Google Search Console Coverage error

Redirect permanent /blog/category/宗教 http://tomonishintaku.com/blog/category/religion
Redirect permanent /en/works/exhibition/2018_lets-eat-everyone.html http://tomonishintaku.com/en/exhibition/2018_colour-me-well.html
Redirect permanent /works/artdisfor/about/ http://tomonishintaku.com/works/artdisfor/aboutus.html
Redirect permanent /portfolio/171027_shintaku_tomoni_jp.pdf http://tomonishintaku.com/portfolio/shintakutomoni_jp.pdf
Redirect permanent /works/exhibition/2018_lets-eat-everyone.html http://tomonishintaku.com/exhibition/2018_colour-me-well.html
Redirect permanent /blog/category/宗教/キリスト教 http://tomonishintaku.com/blog/category/religion
Redirect permanent /blog/category/essay/シンガポール http://tomonishintaku.com/blog/category/essay/singapore
Redirect permanent /works/others/ http://tomonishintaku.com/works/others.html
Redirect permanent /exhibition/141002-gyudonnotaki/150907-cupnoodlenotaki.html http://tomonishintaku.com/exhibition/150907-cupnoodlenotaki.html
Redirect permanent /exhibition/141002-gyudonnotaki/2018_colour-me-well.html http://tomonishintaku.com/exhibition/2018_colour-me-well.html
Redirect permanent /exhibition/141002-gyudonnotaki/150531-bjshokudo.html http://tomonishintaku.com/exhibition/150531-bjshokudo.html
Redirect permanent /exhibition/161126_conveni-bento2/2018_colour-me-well.html http://tomonishintaku.com/exhibition/161126_conveni-bento2.html
Redirect permanent http://tomonishintaku.com/exhibition/141002-gyudonnotaki/150531-bjshokudo.html http://tomonishintaku.com/exhibition/141002-gyudonnotaki
Redirect permanent /en/works/one-bite-challenge/ http://tomonishintaku.com/en/works/one-bite-challenge
Redirect permanent /works/others/ http://tomonishintaku.com/works/others
Redirect permanent /works/others/ http://tomonishintaku.com/works/others
Redirect permanent /works/others/ http://tomonishintaku.com/works/others
Redirect permanent /blog/category/essay/daily http://tomonishintaku.com/blog/category/essay/



# Fix Google Search Console Coverage error END

# No display PHP errors
# php_flag display_errors Off

ExpiresDefault "access plus 1 days"
SiteGuard_User_ExcludeSig 00201019
SiteGuard_User_ExcludeSig 00201009
SiteGuard_User_ExcludeSig 00302027
SiteGuard_User_ExcludeSig 00201022
SiteGuard_User_ExcludeSig 00201020
SiteGuard_User_ExcludeSig 00201055
SiteGuard_User_ExcludeSig 00201021

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 1 weeks"
  ExpiresByType application/javascript "access plus 1 weeks"
  ExpiresByType text/javascript "access plus 1 weeks"
  ExpiresByType image/gif "access plus 1 weeks"
  ExpiresByType image/jpeg "access plus 1 weeks"
  ExpiresByType image/png "access plus 1 weeks"
  ExpiresByType image/svg "access plus 1 weeks"
  ExpiresByType image/x-icon "access plus 1 weeks"
</IfModule>
