{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": false,
      "maxFiles": 12000,
      "usePolling": true,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/public_html/tomonishintaku.com/",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "css/works.css",
          "mtimeMs": 1599432946195.0393,
          "date": "2020-09-06T22:56:22.103Z"
        },
        {
          "file": "css/style_blogEN.css",
          "mtimeMs": 1599449055026.3423,
          "date": "2020-09-07T03:25:38.092Z"
        },
        {
          "file": "css/style_blogJA.css",
          "mtimeMs": 1599449055025.3435,
          "date": "2020-09-07T03:25:33.904Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1599449054571.0393,
          "date": "2020-09-07T03:25:29.805Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/header.php",
          "mtimeMs": 1599345203000,
          "date": "2020-09-07T03:46:36.022Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/functions.php",
          "mtimeMs": 1596843847000,
          "date": "2020-08-08T19:08:15.049Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/footer.php",
          "mtimeMs": 1596589029000,
          "date": "2020-08-08T19:08:19.453Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/header.php",
          "mtimeMs": 1596913832411.5005,
          "date": "2020-08-08T19:10:36.192Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/style.css",
          "mtimeMs": 1596397411000,
          "date": "2020-08-08T19:08:27.799Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/content.php",
          "mtimeMs": 1596326106000,
          "date": "2020-08-08T19:08:32.113Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/style - Copy.css",
          "mtimeMs": 1561663506000,
          "date": "2020-08-08T19:08:36.615Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/screenshot.png",
          "mtimeMs": 1550805286000,
          "date": "2020-08-08T19:08:46.326Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/page.php",
          "mtimeMs": 1550805286000,
          "date": "2020-08-08T19:08:51.431Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/content-image.php",
          "mtimeMs": 1550805286000,
          "date": "2020-08-08T19:08:55.804Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/author.php",
          "mtimeMs": 1550805286000,
          "date": "2020-08-08T19:09:00.223Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/yarpp-template-random.php",
          "mtimeMs": 1550805285000,
          "date": "2020-08-08T19:09:04.741Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/yarpp-template-photoblog.php",
          "mtimeMs": 1550805285000,
          "date": "2020-08-08T19:09:08.955Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/yarpp-template-example.php",
          "mtimeMs": 1550805285000,
          "date": "2020-08-08T19:09:13.246Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/single.php",
          "mtimeMs": 1550805285000,
          "date": "2020-08-08T19:09:17.513Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/searchform.php",
          "mtimeMs": 1550805285000,
          "date": "2020-08-08T19:09:22.110Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/image.php",
          "mtimeMs": 1550805285000,
          "date": "2020-08-08T19:09:26.346Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/content-video.php",
          "mtimeMs": 1550805285000,
          "date": "2020-08-08T19:09:30.648Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/content-quote.php",
          "mtimeMs": 1550805285000,
          "date": "2020-08-08T19:09:35.017Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/content-page.php",
          "mtimeMs": 1550805285000,
          "date": "2020-08-08T19:09:39.303Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/content-link.php",
          "mtimeMs": 1550805285000,
          "date": "2020-08-08T19:09:43.556Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/content-gallery.php",
          "mtimeMs": 1550805285000,
          "date": "2020-08-08T19:09:48.178Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/archive.php",
          "mtimeMs": 1550805285000,
          "date": "2020-08-08T19:09:52.674Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/yarpp-template-thumbnail.php",
          "mtimeMs": 1550805284000,
          "date": "2020-08-08T19:09:56.942Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/yarpp-template-multilingual.php",
          "mtimeMs": 1550805284000,
          "date": "2020-08-08T19:10:01.437Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/yarpp-template-list.php",
          "mtimeMs": 1550805284000,
          "date": "2020-08-08T19:10:05.825Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/search.php",
          "mtimeMs": 1550805284000,
          "date": "2020-08-08T19:10:10.610Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/index.php",
          "mtimeMs": 1550805284000,
          "date": "2020-08-08T19:10:14.909Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/content-audio.php",
          "mtimeMs": 1550805284000,
          "date": "2020-08-08T19:10:19.436Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/comments.php",
          "mtimeMs": 1550805284000,
          "date": "2020-08-08T19:10:23.995Z"
        },
        {
          "file": "en/blog/wp-content/themes/wpex-thoughts/404.php",
          "mtimeMs": 1550805284000,
          "date": "2020-08-08T19:10:28.360Z"
        },
        {
          "file": "inc/short-concept.php",
          "mtimeMs": 1596741347000,
          "date": "2020-08-09T04:43:08.460Z"
        },
        {
          "file": "inc/works-nav.php",
          "mtimeMs": 1596948292850.9128,
          "date": "2020-08-09T04:44:58.213Z"
        },
        {
          "file": "inc/common/filmset-link/cookingleather.php",
          "mtimeMs": 1596959419468.8035,
          "date": "2020-08-09T07:50:22.768Z"
        },
        {
          "file": "works/one-bite-challenge.html",
          "mtimeMs": 1596743275000,
          "date": "2020-08-13T01:07:08.469Z"
        },
        {
          "file": "exhibition/2018_colour-me-well.html",
          "mtimeMs": 1599433035073.0781,
          "date": "2020-09-06T22:57:21.747Z"
        },
        {
          "file": "inc/common/blog-profile.php",
          "mtimeMs": 1599429236026.8608,
          "date": "2020-09-06T21:54:02.195Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/common_inc/support.php",
          "mtimeMs": 1599428809724.3755,
          "date": "2020-09-06T21:46:56.194Z"
        },
        {
          "file": "exhibition/150907-cupnoodlenotaki.html",
          "mtimeMs": 1596749967000,
          "date": "2020-09-06T22:23:11.141Z"
        },
        {
          "file": "en/exhibition/2018_colour-me-well.html",
          "mtimeMs": 1599433022438.5076,
          "date": "2020-09-06T22:57:10.642Z"
        },
        {
          "file": "en/exhibition/161126_conveni-bento2.html",
          "mtimeMs": 1596750133000,
          "date": "2020-09-06T22:39:17.471Z"
        },
        {
          "file": "en/exhibition/160112-cvbentonoyama.html",
          "mtimeMs": 1596750100000,
          "date": "2020-09-06T22:39:21.303Z"
        },
        {
          "file": "en/exhibition/150907-cupnoodlenotaki.html",
          "mtimeMs": 1596750066000,
          "date": "2020-09-06T22:39:29.497Z"
        },
        {
          "file": "en/exhibition/index.html",
          "mtimeMs": 1596399479000,
          "date": "2020-09-06T22:39:37.183Z"
        },
        {
          "file": "en/exhibition/150612-taihaig.html",
          "mtimeMs": 1596399479000,
          "date": "2020-09-06T22:39:47.727Z"
        },
        {
          "file": "en/exhibition/150531-bjshokudo.html",
          "mtimeMs": 1596399478000,
          "date": "2020-09-06T22:39:51.167Z"
        },
        {
          "file": "en/exhibition/141002-gyudonnotaki.html",
          "mtimeMs": 1596399478000,
          "date": "2020-09-06T22:39:58.280Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/single-voice.php",
          "mtimeMs": 1599450749932.942,
          "date": "2020-09-07T03:53:15.872Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/single.php",
          "mtimeMs": 1597433086000,
          "date": "2020-09-07T03:46:48.994Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/st-pagenavi.php",
          "mtimeMs": 1597182385000,
          "date": "2020-09-07T03:46:52.899Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/searchform.php",
          "mtimeMs": 1597083150000,
          "date": "2020-09-07T03:47:00.760Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/sns.php",
          "mtimeMs": 1596648310000,
          "date": "2020-09-07T03:47:04.528Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/sns-top.php",
          "mtimeMs": 1592022020000,
          "date": "2020-09-07T03:47:12.053Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/st-topin.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:47:19.414Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/st-theme-customization.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:47:32.791Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/st-kanri.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:47:41.178Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/st-header-widget.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:47:56.123Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/st-header-menu.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:48:00.075Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/st-header-image.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:48:04.257Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/st-footer-link.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:48:12.926Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/st-font.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:48:25.567Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/st-childlink.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:48:29.482Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/st-admin-script.js",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:48:37.508Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/st-ad.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:48:46.467Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/search.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:48:58.572Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/scroll-ad.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:49:02.759Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/screenshot.png",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:49:11.007Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/popular-thumbnail-sc.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:49:14.964Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/popular-thumbnail-on.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:49:22.915Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/popular-thumbnail-off.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:49:30.895Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/popular-thumbnail.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:49:38.826Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/page-redirect.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:49:47.082Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/page05.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:50:00.542Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/page04.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:49:56.324Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/page03.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:50:04.926Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/page02.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:50:13.508Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/page.php",
          "mtimeMs": 1599450617000,
          "date": "2020-09-07T03:58:21.746Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/news-st.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:50:25.115Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/newpost-thumbnail-on.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:50:33.914Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/newpost-thumbnail-off.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:50:41.596Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/newpost.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:50:51.598Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/kanren-thumbnai-on.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:50:55.601Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/kanren-thumbnail-off.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:51:03.340Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/kanren.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:51:07.154Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/itiran-thumbnail-on.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:51:19.099Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/itiran-thumbnail-off.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:51:22.903Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/itiran.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:51:26.626Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/index.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:51:30.409Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/home.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:51:40.244Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/editor-style.css",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:51:49.087Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/comments.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:52:01.601Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/category.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:52:06.344Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/archive.php",
          "mtimeMs": 1599450818894.609,
          "date": "2020-09-07T03:53:41.089Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/analyticstracking.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:52:18.479Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/ad.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:52:28.256Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/404.php",
          "mtimeMs": 1590807421000,
          "date": "2020-09-07T03:52:37.849Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/page-voice.php",
          "mtimeMs": 1599451310872.7822,
          "date": "2020-09-07T04:01:59.520Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/functions.php",
          "mtimeMs": 1599451917395.8442,
          "date": "2020-09-07T04:11:59.906Z"
        },
        {
          "file": "blog/wp-content/themes/stinger7/archive-voice.php",
          "mtimeMs": 1599452166204.024,
          "date": "2020-09-07T04:16:19.815Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": true,
        "tasks": [
          {
            "task": "node-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
