@charset "shift_jis";

/*form用　ここから*/
.form_title{
text-align:left;
padding:10px;
}

form#form{
margin:0 auto;
padding:0;
width:640px;
font-size:14px;
text-align:left;
}

#form input,select{
font-size:14px;
padding:2px;
margin:5px 2px;
}

#form input{
margin:5px 2px;
}

/*上部の必須入力の注意書き*/
#form .must_mark{
text-align:right;
margin-top:-20px;
font-size:90%;
margin-bottom:-10px;
}
#form .must_mark span{
color:#cc0000;
font-size:120%;
font-weight:bold;
}

#form .pan{
margin-top:10px;
margin-bottom:10px;
margin-left:10px;
}

#form .cau{
font-size:80%;
color:#D32153;
}

#form .cha_min{
font-size:80%;
color:#666666;
}

#send{
text-align:center;
margin:10px 0;
}

#form .info{
color:#666666;
}

#form_in table{
	margin-top:10px;
	padding:2px;
	width:640px;
	border-collapse:collapse;
}

#form_in table th{
	background:#f5f5f5;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}

#form_in table td{
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}

/*テーブルの詳細設定　ここから*/

.form_02 table th{
	width:27%;
	background:#f5f5f5;
	border-collapse:collapse;
	border-top:solid 1px #ccc;
}

.form_02 table td{
	width:73%;
	border-collapse:collapse;
	border-top:solid 1px #ccc;
}


.form_03 table th{
font-size:110%;
letter-spacing:3px;
}
/*テーブルの詳細設定　ここまで*/


#form table th{
width:25%;
text-align:left;
}
/*テーブル：サービスの詳細設定*/

#form table.service th{
width:40%;
padding-left:20px;
}

/*テーブル：ボトムライン無*/
#form_in table td.line_no{
	border-bottom:none;
	margin-left:0;
	padding-left:0;
}


#form table th.l_s{
letter-spacing:3px;
}

#form table.service td.check{
	width:5%;
}

#form table p.must{
	display:block;
	margin-left:-10px;
	height:100%;
}
#form table p.must span{
	color:#cc0000;
}

#form #txt_area table td{
	padding:10px 0;
}

#form tr.color{
	background:#f5f5f5;
}

#form th{
	vertical-align:top;
	padding:5px 5px 5px 12px;
	font-size:14px
	text-align:left;
	width:8.5em;
}
#form td{
	padding:1px 5px 1px 5px;
	font-size:14px
}

/*確認・送信画面のwidth設定：要修正　ここから*/
#form table.preview th{
width:27%;
padding:5px 10px;}

#form table.preview td{
padding:5px 10px;}
#form .error_message{
padding:10px;
color:#cc0000;
}
/*確認・送信画面のwidth設定：要修正　ここまで*/


/*テーブル：ボトムライン無*/


/*form用　ここまで*/


/* サブ各タイトル */

#content h2{
	color:#000033;
	height:120px;
	padding:0;
	margin-bottom:15px;
	
}
/* form base */

optgroup{
font-style:normal;
font-weight:bold;
color:#990000;
padding-bottom:0.5em;
}

optgroup option{
color:#000000;
}

span.sup{
color:#cc0000;
font-size:90%;
}
.text{
margin-top:2em;
}

/* free_txt space */

 textarea#free_txt{
width:633px;
  height:5em;
  padding:5px;
	margin-left:0;
	padding-left:0;
}

/* law_txt scroll*/

table.law td{
padding-bottom:0;
padding-left:0;
}

#law_txt{
width:100%;
margin:0;
padding:0;
}

#law_in{
width:630px;
  height:150px;
  overflow:auto;
  display: block;
  padding: 5px;
  border:1px solid #aaaaaa;
  background-color:#fff;
}

p#agree{
margin:10px 20px 0 10px ;
}

/* form group */

input.radio {
  border-style: none;
  color: #000000;
  background:transparent;
}

/* 入力前・後 */

#form_in input[type="text"], #form_in select, #form_in textarea{
   background-color:#fff;
 border: 1px solid #cccccc;

}

#form_in input[type="text"]:focus, #form_in select:focus,#form_in textarea:focus {
   background-color:#f5f5f5;
   border: 1px solid #D32153;
}

#form_in textarea:focus, #form_in textarea{
overflow:auto;
}
/* submit
---------------------------------------------------- */

#submit{
width:100%;
margin-top:2em;
margin-bottom:1em;
text-align:center;
}

.submit{
	cursor: pointer;
	margin-top:1em;	
}

.message, .send{
text-align:center;
}

.message_comp{
text-align:left;
}

.message_comp p{
margin-top:1em;
}
