/******************************
 ソーシャルエリア全体を囲む要素
 * 他のコンテンツと距離を取りたい場合は[margin]を設定して下さい
******************************/
.social-area-syncer{
	background: #eee;	/* 背景色 */
	padding: 0.5em 0 0.2em 0;
	margin-bottom: 1.5em;
	border-radius:8px;
}

.social-area-syncer:after {
  content: "";
  clear: both;
  display: block;
}

/******************************
 [ul]要素
******************************/
/* スマホ */
ul.social-button-syncer{
	overflow: hidden;
	width: 288px;
	margin: 0.5em auto;
	padding: 0;
	border: none;
	list-style-type: none;
}

/* デスクトップ */
@media screen and (min-width:480px){

	ul.social-button-syncer{
		width: 624px;
	}
	ul.social-button-syncer li{
	margin: 0 16px!important;;
}

}

/******************************
 [li]要素
******************************/
ul.social-button-syncer li{
	overflow: hidden;
	float: left;
	text-align: center;
	height: 66px;
	margin: 0 8px;
	padding:0;
}

/******************************
 各種ボタン
******************************/
/* [Twitter] */
.sc-tw{
	width: 82px;
}

/* [Facebook] */
.sc-fb{
	width: 84px;
}

/* [LINE] */
.sc-li{
	width: 50px;
}

.sc-li-img{
	border: none;
	margin: 0 auto;
	padding:0;
	width: 36px;
	height: 60px;
}

/* デスクトップPCではLINEボタンを表示しない */
@media screen and (min-width:480px){

	.sc-li{
		display: none;
	}

}

